<!DOCTYPE html>
<html>
<head>
    <title>Ent - Attack Tree Generator</title>
    <link type="text/css" rel="stylesheet" href="../vendor/skeleton/normalize.css"/>
    <link type="text/css" rel="stylesheet" href="../vendor/skeleton/skeleton.css"/>
    <link type="text/css" rel="stylesheet" href="../style.css"/>
</head>
<body>
    <div class="sidebar">
        <textarea id="text-area" name="textual">= Open Safe
== Pick Lock
== Learn Combo
=== Find Written Combo
=== Get Combo From Target
==== Threaten
==== Blackmail
==== Eavesdrop (AND)
===== Listen to Conversation
===== Get Target to State Combo
== Cut Open Safe
== Install Improperly</textarea>
        <button id="generate" class="button-primary">Generate</button>
    </div>
    <div id="content"></div>
    <script type="text/javascript" src="../vendor/d3/d3.min.js"></script>
    <script type="text/javascript" src="../image_generator.js"></script>
</body>
</html>