<!DOCTYPE html>
<html>
<head>
    <title>Ent</title>
    <link type="text/css" rel="stylesheet" href="../vendor/skeleton/normalize.css"/>
    <link type="text/css" rel="stylesheet" href="../vendor/skeleton/skeleton.css"/>
    <link type="text/css" rel="stylesheet" href="../style.css"/>
</head>
<body>
<nav role="navigation">
    <ul class="icon-bar">
        <li><a id="load">Load</a></li>
        <li><a id="save">Save</a></li>
    </ul>
</nav>
    <div class="sidebar">
        <textarea id="text-area">= Open Safe
== Pick Lock
== Learn Combo
=== Find Written Combo
=== Get Combo From Target
==== Threaten
==== Blackmail
==== Eavesdrop (AND)
===== Listen to Conversation
===== Get Target to State Combo
== Cut Open Safe
== Install Improperly</textarea>
        <button id="generate" class="button-primary">Generate</button>
    </div>
<main>
    <div id="content"></div>
</main>
<script type="text/javascript" src="../index.js"></script>
</body>
</html>