@import "_variables";

.success {
  background: greenyellow;
  border: 1px solid green;
  border-radius: 10px;
  bottom: @gutter;
  left: @gutter;
  color: #003300;
  display: none;
  padding: 10px;
  position: absolute;
  text-align: center;
  z-index: 1;
}