@import "_variables";

.success {
  background: @success-background;
  left: @gutter;
  color: @success-text;
  display: none;
  padding: 7px 10px;
  position: absolute;
  text-align: center;
  z-index: 1;
}